
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgb(47, 151, 172);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative; 
    overflow: hidden; 
    border: 1px solid #000000; 
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-item {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    margin-bottom: 8px;
    background-color: rgb(255, 255, 255);
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(50, 192, 178);
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #00ffdd;
}
select {
    width: calc(100% - 22px); 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    margin-bottom: 8px; 
}
p {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #f80000;
}
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    margin-bottom: 8px;
    background-color: rgb(255, 255, 255);
}

.password-input {
    position: relative;
}

.password-input input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    margin-bottom: 8px;
    background-color: rgb(255, 255, 255);
}

.toggle-password,
.toggle-cpassword {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #000;
    font-size: 14px;
}