<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/profile.css">
    <title>Profile Settings</title>
</head>
<body>

<section class="profile-card">
    <div class="current-profile">
        <h2>Your Profile:</h2>
        <div class="current-profile-details">
            <div class="profile-image">
                <input type="file" id="profileImageInput" accept="image/*">
                <label for="profileImageInput">
                    <img src="images/blank.png" alt="Profile Image">
                    <p class="change-photo-text">Change Photo</p>
                </label>
            </div>
            <div class="profile-info">
                <p><strong>Name:</strong> <span id="currentName">Admin</span></p>
                <p><strong>Email:</strong> <span id="currentEmail">admin@gmail.com</span></p>
                <p><strong>Phone:</strong> <span id="currentPhone">+62-812-6478-5256</span></p>
            </div>
        </div>
    </div>
    <div class="profile-info">
        <h2>Edit Profile</h2>
        <form id="profileForm">
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" name="fullName" placeholder="Your Full Name" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Your Email" required>
            
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" placeholder="Your Phone" required>

            <button type="submit" id="saveButton">Save Changes</button>
        </form>
    </div>
    <a href="dashboard_admin.html" class="back-button">
        <i class="bx bx-arrow-back"></i> Back to Dashboard
    </a>
</section>
<script src="js/profile.js"></script>
</body>
</html>
